In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Reading the data file in df

**Read the csv data file and disply its head**

In [2]:
df=pd.read_csv('mammographic_masses_data_clean.csv')
df
df.head()

   BI-RADS  Age  Shape  Margin  Density  Target
0        5   67      3       5        3       1
1        5   58      4       5        3       1
2        4   28      1       1        3       0
3        5   57      1       5        3       1
4        5   76      1       4        3       1

   BI-RADS  Age  Shape  Margin  Density  Target
0        5   67      3       5        3       1
1        5   58      4       5        3       1
2        4   28      1       1        3       0
3        5   57      1       5        3       1
4        5   76      1       4        3       1

**How many data entries you have?**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BI-RADS  830 non-null    int64
 1   Age      830 non-null    int64
 2   Shape    830 non-null    int64
 3   Margin   830 non-null    int64
 4   Density  830 non-null    int64
 5   Target   830 non-null    int64
dtypes: int64(6)
memory usage: 39.0 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 6 columns):
BI-RADS    830 non-null int64
Age        830 non-null int64
Shape      830 non-null int64
Margin     830 non-null int64
Density    830 non-null int64
Target     830 non-null int64
dtypes: int64(6)
memory usage: 39.0 KB

**Which type of cancer is common?**

In [4]:
df.Target.value_counts()

Target
0    427
1    403
Name: count, dtype: int64

0    427
1    403
Name: Target, dtype: int64

**Reproduce the output to show some statistics**

In [19]:
statics=df.describe()
statics

          BI-RADS         Age       Shape      Margin     Density      Target
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

          BI-RADS         Age       Shape      Margin     Density      Target
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

** Do the Train Test Split** using test size 0.3

In [5]:
from sklearn.model_selection import train_test_split
x=df.drop("Target",axis=1)
y=df['Target']
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=42)
x_train

     BI-RADS  Age  Shape  Margin  Density
145        4   59      2       4        3
306        3   46      3       4        3
234        4   36      2       3        3
220        5   49      4       5        3
820        5   67      4       5        3
..       ...  ...    ...     ...      ...
71         4   66      1       1        3
106        4   21      2       1        3
270        5   83      4       4        3
435        5   67      4       5        3
102        4   68      1       1        3

[581 rows x 5 columns]

In [6]:
x_test

     BI-RADS  Age  Shape  Margin  Density
608        4   59      1       1        3
457        4   44      2       1        3
290        5   55      4       5        3
558        4   24      2       1        3
168        4   46      1       1        3
..       ...  ...    ...     ...      ...
650        4   44      2       1        3
73         4   59      4       3        2
671        4   66      2       1        3
275        4   88      4       4        3
465        5   84      3       2        3

[249 rows x 5 columns]

In [7]:
y_train

145    0
306    0
234    0
220    1
820    1
      ..
71     0
106    0
270    1
435    1
102    1
Name: Target, Length: 581, dtype: int64

In [8]:
y_test

608    0
457    0
290    0
558    0
168    0
      ..
650    0
73     0
671    0
275    1
465    1
Name: Target, Length: 249, dtype: int64

### Decision Tree
**Importing decision tree classifier and create its instance**

In [9]:
from sklearn.tree import DecisionTreeClassifier
dec=DecisionTreeClassifier()

**Fit the training data to the model**

In [10]:
dec.fit(x_train,y_train)
dec

DecisionTreeClassifier()

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

**What is the Score of the model?**

In [12]:
dec.score(x_test,y_test)

0.751004016064257